@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  outline: none;
  border: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

html, body {
  height: 100%;
}

.wrapper {
  background: #fff;
  max-width: 300px;
  position: relative;
  float: left;
  margin: 30px 20px;
  box-shadow: 0px 0px 40px 10px #212129;
}
.wrapper .classic {
  min-height: 250px;
  background: url("https://images.pexels.com/photos/1583884/pexels-photo-1583884.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500") no-repeat center;
  opacity: 0.9;
  background-size: cover;
}
.wrapper .periperi {
    min-height: 250px;
    background: url("https://i.pinimg.com/originals/4c/53/a4/4c53a4d4dbf64073fff9ad56701d849d.png") no-repeat center;
    opacity: 0.9;
    background-size: cover;
  }
  .wrapper .bytes {
    min-height: 250px;
    background: url("https://media.istockphoto.com/photos/crispy-popcorn-chicken-on-wooden-board-and-dipping-sauce-picture-id1156855783?k=20&m=1156855783&s=612x612&w=0&h=f2Hchuf58exqNpuipoQ0tvrC-vEhrN_jwpH9xfQkaJs=") no-repeat center;
    opacity: 0.9;
    background-size: cover;
  }
.wrapper .name {
  font-size: 1.4em;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 20px;
}
.wrapper .border {
  border: #EF233C 2px solid;
  position: relative;
  margin: 0 auto;
  width: 64px;
}
.wrapper .info {
  margin-top: -11px;
  font-weight: 700;
  letter-spacing: 0.1em;
  padding: 30px;
}
.wrapper .button {
  background: #212129;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  text-align: center;
  padding: 8px 0;
  transition: 300ms;
}
.wrapper .button:hover {
  background: #A3031D;
  transition: 300ms;
}